@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Sen:wght@400;700&display=swap");
:root {
  --Black-color: #000000;
  --white-color: #ffffff;
  --purple-color: #5221E6;
  --dark-purple-color: #301934;
  --navy-blue-color: #181823;
  --light-grey-color: #6B6A6B;
}

body {
  background: #000000;
  margin: 0;
  font-family: "sen", sans-serif;
}

::-webkit-scrollbar {
  width: 0;
}

#scrollpath {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}

#progressbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  background: linear-gradient(to top, #008aff, #00ffe7);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0%, 100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}
#progressbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(10px);
}

progressbar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(10px);
}

.navbar {
  padding: 20px 24px;
}
.navbar .logo {
  width: 35px;
  height: 24px;
  top: 0px;
  left: 0px;
}
.navbar nav {
  display: none;
}
.navbar .container {
  display: flex;
  place-content: space-between;
}
.navbar .mobile-menu {
  cursor: pointer;
}

.hero-wrapper {
  position: relative;
  margin: 0;
  padding: 0px 40px 0px 0px;
}
.hero-wrapper .grey-image {
  width: 360px;
  height: 360px;
  left: 0px;
  top: 0px;
  border-radius: 0px 70px 70px 0px;
}
.hero-wrapper .right-section {
  position: absolute;
  width: 320px;
  height: 150px;
  left: 20px;
  top: 102px;
}
.hero-wrapper .right-section .intro-part {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: var(--white-color);
}
.hero-wrapper .right-section .intro-part span {
  color: #bdd72b;
}

.about-wrapper {
  padding: 40px 20px;
}
.about-wrapper .about-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: var(--white-color);
  display: flex;
  align-items: center;
}
.about-wrapper .skills-columns {
  padding-top: 17px;
  padding-left: 74px;
  padding-right: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-wrapper .skills-columns .first-columns {
  width: 212px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-wrapper .skills-columns .first-columns .first-text {
  margin: 0;
  font-weight: 700;
  font-size: 117px;
  line-height: 141px;
  color: var(--light-grey-color);
  display: flex;
  align-items: center;
}
.about-wrapper .skills-columns .first-columns .first-columns-icons {
  width: 212px;
  height: 327px;
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.about-wrapper .skills-columns .first-columns .first-columns-icons .first-icon-first, .about-wrapper .skills-columns .first-columns .first-columns-icons .second-icon-first, .about-wrapper .skills-columns .first-columns .first-columns-icons .third-icon-first, .about-wrapper .skills-columns .first-columns .first-columns-icons .fourth-icon-first {
  width: 50px;
  height: 50px;
}
.about-wrapper .skills-columns .second-columns {
  width: 212px;
  height: 500px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-wrapper .skills-columns .second-columns .second-text {
  margin: 0;
  font-weight: 700;
  font-size: 117px;
  line-height: 141px;
  color: var(--light-grey-color);
  display: flex;
  align-items: center;
}
.about-wrapper .skills-columns .second-columns .second-columns-icons {
  padding-top: 32px;
  width: 212px;
  height: 327px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.about-wrapper .skills-columns .second-columns .second-columns-icons .first-icon-second, .about-wrapper .skills-columns .second-columns .second-columns-icons .second-icon-second, .about-wrapper .skills-columns .second-columns .second-columns-icons .third-icon-second, .about-wrapper .skills-columns .second-columns .second-columns-icons .fourth-icon-second {
  width: 50px;
  height: 50px;
}
.about-wrapper .skills-columns .third-columns {
  padding-top: 57px;
  width: 212px;
  height: 232px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-wrapper .skills-columns .third-columns .third-text {
  margin: 0;
  font-weight: 700;
  font-size: 117px;
  line-height: 141px;
  color: var(--light-grey-color);
  display: flex;
  align-items: center;
}
.about-wrapper .skills-columns .third-columns .third-columns-icons {
  padding-top: 34px;
  width: 50px;
  height: 50px;
}
.about-wrapper .skills-columns .third-columns .third-columns-icons .first-icon-third {
  width: 50px;
  height: 50px;
}

.work-section {
  background: #6B6A6B;
}
.work-section .work-wrapper {
  padding: 35px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.work-section .work-wrapper .first-work {
  width: 320px;
  height: 419px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.work-section .work-wrapper .first-work .first-work-img {
  width: 300px;
  height: 300px;
  border-radius: 30px;
}
.work-section .work-wrapper .first-work .first-row-text {
  width: 154px;
  height: 77px;
  top: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.work-section .work-wrapper .first-work .first-row-text .first-work-heading {
  margin-top: 40px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: var(--white-color);
  text-decoration: none;
}
.work-section .work-wrapper .first-work .first-row-text .first-work-icons {
  width: 153px;
  height: 50px;
  display: flex;
  align-items: center;
}
.work-section .work-wrapper .first-work .first-row-text .first-work-icons .first-icon-first-row, .work-section .work-wrapper .first-work .first-row-text .first-work-icons .second-icon-first-row, .work-section .work-wrapper .first-work .first-row-text .first-work-icons .third-icon-first-row {
  width: 50px;
  height: 50px;
}
.work-section .work-wrapper .second-work {
  width: 320px;
  height: 419px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.work-section .work-wrapper .second-work .second-work-img {
  width: 300px;
  height: 300px;
  border-radius: 30px;
}
.work-section .work-wrapper .second-work .second-row-text {
  width: 92px;
  height: 77px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.work-section .work-wrapper .second-work .second-row-text .second-work-heading {
  color: var(--white-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  margin-top: 40px;
  margin-bottom: 0;
  text-decoration: none;
}
.work-section .work-wrapper .second-work .second-row-text .second-work-icons {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
}
.work-section .work-wrapper .second-work .second-row-text .second-work-icons .first-icon-second-row {
  width: 50px;
  height: 50px;
}
.work-section .work-wrapper .third-work {
  width: 320px;
  height: 444px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.work-section .work-wrapper .third-work .third-work-img {
  width: 300px;
  height: 300px;
  border-radius: 30px;
}
.work-section .work-wrapper .third-work .third-row-text {
  width: 150px;
  height: 104px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.work-section .work-wrapper .third-work .third-row-text .third-work-heading {
  padding-left: 18px;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  margin-top: 40px;
  margin-bottom: 0;
  color: var(--white-color);
  text-decoration: none;
}
.work-section .work-wrapper .third-work .third-row-text .third-work-icons {
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
}
.work-section .work-wrapper .third-work .third-row-text .third-work-icons .first-icon-third-row, .work-section .work-wrapper .third-work .third-row-text .third-work-icons .second-icon-third-row, .work-section .work-wrapper .third-work .third-row-text .third-work-icons .third-icon-third-row {
  width: 50px;
  height: 50px;
}

.contact-wrapper {
  padding: 55px 20px 37px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
}
.contact-wrapper .left-section {
  width: 264px;
  height: 181px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-wrapper .left-section .talk-heading {
  font-size: 32px;
  font-weight: 700;
  color: var(--white-color);
  margin-bottom: 10px;
}
.contact-wrapper .left-section .contact-icons {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.contact-wrapper .left-section .contact-icons .first-contact-icon, .contact-wrapper .left-section .contact-icons .second-contact-icon, .contact-wrapper .left-section .contact-icons .third-contact-icon {
  width: 50px;
  height: 50px;
}
.contact-wrapper .left-section .resume-button {
  font-weight: 700;
  color: var(--white-color);
  padding: 16px 90px;
  background: #5221E6;
  border-radius: 30px;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
}
.contact-wrapper .right-section {
  margin-top: 45px;
  width: 320px;
  height: 466px;
}
.contact-wrapper .right-section label {
  font-weight: 700;
  font-size: 16px;
  color: var(--white-color);
}
.contact-wrapper .right-section input {
  margin-top: 8px;
  width: 320px;
  height: 50px;
  background: #181823;
  border: none;
  margin-bottom: 40px;
  color: white;
}
.contact-wrapper .right-section textarea {
  margin-top: 8px;
  width: 320px;
  height: 100px;
  background: #181823;
  border: none;
  margin-bottom: 40px;
  color: white;
}
.contact-wrapper .right-section .send-button {
  width: 320px;
  height: 50px;
  background: #5221E6;
  color: var(--white-color);
  font-weight: 700;
  cursor: pointer;
}

nav.mobile-menu {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 100vw;
  top: 0;
  left: 0;
  background: var(--light-grey-color);
  height: 100vh;
}
nav .nav-list {
  margin-top: 25vh;
  margin-bottom: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  gap: 45px;
}
nav .nav-list li a {
  color: var(--white-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}
nav .nav-list li a:hover {
  font-weight: lighter;
}
nav .nav-list .nav-contact {
  padding: 10px 14px;
  background: #5221E6;
  border-radius: 30px;
}

.mobile-menu-exit {
  float: right;
  margin-top: 20px;
  margin-right: 40px;
  cursor: pointer;
}

@media only screen and (min-width: 1200px) {
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .navbar {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .navbar .container {
    display: grid;
    grid-template-columns: 35px auto;
    align-items: center;
  }
  .navbar .container .logo {
    display: flex;
  }
  .navbar .container nav {
    display: flex;
    background: none;
    position: unset;
    justify-content: space-between;
    width: 100%;
    height: 88px;
    padding: 0;
  }
  .navbar .container nav .nav-list {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }
  .navbar .container nav .nav-list li a {
    font-weight: 400;
    font-size: 16px;
  }
  .navbar .container nav .nav-list .nav-contact {
    padding: 24px 32px;
    border-radius: 0;
  }
  .hero-wrapper {
    padding-top: 45px;
    position: relative;
  }
  .hero-wrapper .grey-image {
    content: url(../references/grey_744.svg);
    width: 412px;
    height: 360px;
  }
  .hero-wrapper .right-section {
    position: absolute;
    display: flex;
    align-items: center;
    left: 25%;
    top: 20%;
    width: 373px;
    height: 270px;
  }
  .hero-wrapper .right-section .intro-part {
    font-size: 45px;
    line-height: 54px;
    margin: 0;
  }
  .about-wrapper .about-text {
    font-size: 45px;
    line-height: 54px;
    display: flex;
    align-items: center;
  }
  .about-wrapper .skills-columns {
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
  }
  .about-wrapper .skills-columns .first-columns {
    flex: auto;
  }
  .about-wrapper .skills-columns .second-columns {
    padding: 0;
    flex: auto;
  }
  .about-wrapper .skills-columns .third-columns {
    height: 500px;
    padding: 0;
    flex: auto;
  }
  .work-section .work-wrapper .first-work {
    display: flex;
    flex-direction: row;
    width: 1135px;
    height: 500px;
  }
  .work-section .work-wrapper .first-work .first-work-img {
    width: 350px;
    height: 450px;
    flex: auto;
    width: 0;
  }
  .work-section .work-wrapper .first-work .first-row-text {
    flex: auto;
  }
  .work-section .work-wrapper .first-work .first-row-text .first-work-heading {
    margin: 0;
    font-size: 45px;
  }
  .work-section .work-wrapper .second-work {
    display: flex;
    flex-direction: row;
    width: 1135px;
    height: 500px;
  }
  .work-section .work-wrapper .second-work .second-work-img {
    height: 450px;
    flex: auto;
    width: 0;
  }
  .work-section .work-wrapper .second-work .second-row-text {
    flex: auto;
  }
  .work-section .work-wrapper .second-work .second-row-text .second-work-heading {
    margin: 0;
    font-size: 45px;
  }
  .work-section .work-wrapper .third-work {
    display: flex;
    flex-direction: row;
    width: 1135px;
    height: 500px;
  }
  .work-section .work-wrapper .third-work .third-work-img {
    width: 350px;
    height: 450px;
    flex: auto;
    width: 0;
  }
  .work-section .work-wrapper .third-work .third-row-text {
    flex: auto;
  }
  .work-section .work-wrapper .third-work .third-row-text .third-work-heading {
    width: 300px;
    margin: 0;
    padding: 0;
    font-size: 45px;
    line-height: 50px;
  }
  .work-section .work-wrapper .third-work .third-row-text .third-work-icons {
    margin-top: 0px;
  }
  .contact-wrapper {
    display: flex;
    flex-direction: row;
  }
  .contact-wrapper .left-section {
    flex: auto;
  }
  .contact-wrapper .right-section {
    margin: 0;
    flex: auto;
  }
  .contact-wrapper .right-section form {
    width: 526px;
  }
  .contact-wrapper .right-section form input, .contact-wrapper .right-section form textarea {
    width: 526px;
  }
  .contact-wrapper .right-section form .send-button {
    width: 526px;
  }
}
@media only screen and (min-width: 1440px) {
  .hero-wrapper {
    padding-top: 45px;
    position: relative;
  }
  .hero-wrapper .grey-image {
    content: url(../references/grey_1444px.svg);
    width: 50%;
    height: 50%;
  }
  .hero-wrapper .right-section {
    position: absolute;
    display: flex;
    align-items: center;
    left: 40%;
    top: 35%;
    width: 705px;
    height: 252px;
  }
  .hero-wrapper .right-section .intro-part {
    font-weight: 700;
    font-size: 70px;
    line-height: 54px;
    margin: 0;
  }
  .about-wrapper .about-text {
    font-size: 55px;
  }
}/*# sourceMappingURL=main.css.map */